<kendo-dialog  [width]="300" [height]="450" (close)="closeDialog()">
  <kendo-dialog-titlebar>
    Contratar Producto
  </kendo-dialog-titlebar>
  <div>
    <p>Servicios del Banco</p>
    <kendo-dropdownlist [data]="bankServices"  textField="name" valueField="id" [(ngModel)]="selectedService"></kendo-dropdownlist>
  </div>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
